<html>
  <head>
    <title>Helios</title>
      <link rel="icon" href="./favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
      <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="main-container">

      <div class="main-title">
        <h1>HELIOS</h1>
      </div>

      <div class="main-body">
        <div class="list-container">
          <h3>MY MORNING ROUTINE</h3>
          <p>Yoga</p>
          <p>Meditation</p>
          <p>Journaling</p>
          <p>Eat a healthy breakfast</p>
        </div>

        <div class="on-button-container">
          <button class="on-button">SPEAK WITH HELIOS</button>
        </div>

      </div> <!-- main body -->

      <div class="off-button-container">
        <button class="off-button">NOW I'M READY FOR THE DAY</button>
      </div>

    </div> <!-- main-container -->

    <script src="js/script.js"></script>
  </body>
</html>
