body, html, head {
  height: 100%;
  background: #363f4f;
  color: #dcdfe5;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
  width: 100vw;
  color: yellow;
  height: 6em;
  /* left: 0;
  top: 0; */
  margin: 0;
  letter-spacing: .4em;
  /* border: 1px solid pink; */
}

.main-body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 2em;
  padding-top: 1em;
}

/* --------- list ------------ */

.list-container {
  /* border: 1px solid green; */
  display: block;
  padding: 1em;
  width: 300px;
  width: 400px;
}

.list-container h3 {
  font-size: 2em;
  display: flex;
  justify-content: center;
  letter-spacing: .05em;
}

.list-container p {
  font-size: 1.5em;
  align-content: center;
  display: flex;
  justify-content: center;
  color: yellow;
  letter-spacing: .05em;
  /* text-decoration: underline; */
}

/* --------- on button ------------ */

.on-button-container {
  padding: 3em;
}

.on-button {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  color: #363f4f;
  font-size: 2.5em;
  background: yellow;
  border: none;
  font-style: bold;
  letter-spacing: .2em;
}

.on-button:focus {
  outline: 0;
  animation-name: pulse_animation;
	animation-duration: 3000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

/* --------- off button ------------ */

.off-button-container {
  padding: 2em;
  display: block;
  justify-content: center;
  align-items: center;
}

.off-button {
  border-radius: 5px;
  height: 70px;
  width: 300px;
  color: #363f4f;
  font-size: 1em;
  background: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.off-button:focus {
  outline: 0;
}
